* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	background: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
	font-family: var(--vscode-font-family);
	font-size: var(--vscode-font-size);
}

.svg-container {
	position: absolute;
	top: 33px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	cursor: grab;
}

.svg-container.panning {
	cursor: grabbing;
}

.bg-checkered {
	background-color: #ffffff;
	background-image:
		linear-gradient(45deg, #e0e0e0 25%, transparent 25%),
		linear-gradient(-45deg, #e0e0e0 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #e0e0e0 75%),
		linear-gradient(-45deg, transparent 75%, #e0e0e0 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}

#svg-content {
 	transform-origin: 0 0;
}

#svg-content svg {
	display: block;
	overflow: visible;
}

.polygon-point-highlight {
	pointer-events: none;
}
